
<section id="steps" class="steps">
  <div class="container">
    <div class="row">
      <div class="head_title text-center wow fadeIn" data-wow-duration="1.5s">
        <h2>THREE SIMPLE STEPS</h2>
        <div class="separetor"></div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry been the industry's standard dummy text </p>
      </div>
      <div class="main_steps_content text-center">
        <div class="col-md-4">
          <div class="single_steps wow fadeIn" data-wow-duration="1s">
            <a href=""><i class="fa fa-mobile"></i></a>
            <h4>INTEGER VENEATIS</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single_steps wow fadeIn" data-wow-duration="1.8s">
            <a href=""><i class="fa fa-bar-chart"></i></a>
            <h4>INTEGER VENEATIS</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single_steps wow fadeIn" data-wow-duration="2.8s">
            <a href=""><i class="fa fa-bar-chart"></i></a>
            <h4>INTEGER VENEATIS</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
