<header id="home" class="header">
  <div class="main_menu_navbar">
    <div class="row">
      <div class="col-sm-6">
        <label class="company-label">
          Graxpo
        </label>
      </div>
      <div class="col-sm-6">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#abouts">ABOUT</a></li>
          <li><a href="#service">Service</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div></div>
    </div>
  </div>
</header>
