.footer{
  background:#e84c3d;
  position: absolute;
  width: 100%;
}

.main_footer p{
  padding:20px 0px;
  color:#fff;
  margin-top:10px;
}
.main_footer p i{
  padding:0px 10px;
}
.main_footer p a{
  padding:0px 10px;
}

