<section id="counterUp" class="counterUp">
  <div class="counter_overlay">
    <div class="container">
      <div class="row">
        <div class="main_counter_content">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sinle_counter wow fadeIn" data-wow-duration="1s">
              <h4><i class="fa fa-star"></i><span class="static-counter">158</span></h4>
              <p>PROJECT COMPLETED</p>
              <div class="separetorwhite"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sinle_counter wow fadeIn" data-wow-duration="1.8s">
              <h4><i class="fa fa-star"></i><span class="static-counter">580</span></h4>
              <p>PROJECT COMPLETED</p>
              <div class="separetorwhite"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sinle_counter wow fadeIn" data-wow-duration="2.2s">
              <h4><i class="fa fa-star"></i><span class="static-counter">1500</span></h4>
              <p>PROJECT COMPLETED</p>
              <div class="separetorwhite"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sinle_counter wow fadeIn" data-wow-duration="2.8s">
              <h4><i class="fa fa-star"></i><span class="static-counter">1000</span></h4>
              <p>PROJECT COMPLETED</p>
              <div class="separetorwhite"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
