<section id="featured" class="featured">
  <div class="container">
    <div class="row">
      <div class="head_title text-center wow flipInX" data-wow-duration="1s">
        <h2>OUR FEATURED WORK</h2>
        <div class="separetor"></div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry been the industry's standard dummy text</p>
      </div>
    </div>
  </div>
  <div class="main_featured_content">
    <div class="col-md-4 col-sm-6 col-xs-12 single_featured_area">
      <div class="single_featured wow fadeIn" data-wow-duration=".5s">
        <img src="assets/images/f1.jpg" alt="" />
        <div class="featured_overlay">
          <div class="overlay_content">
            <a href="" class="btn btn-white">VIEW DEATIL</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 single_featured_area">
      <div class="single_featured wow fadeIn" data-wow-duration=".5s">
        <img src="assets/images/f2.jpg" alt="" />
        <div class="featured_overlay">
          <div class="overlay_content">
            <a href="" class="btn btn-white">VIEW DEATIL</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 single_featured_area">
      <div class="single_featured wow fadeIn" data-wow-duration=".5s">
        <img src="assets/images/f3.jpg" alt="" />
        <div class="featured_overlay">
          <div class="overlay_content">
            <a href="" class="btn btn-white">VIEW DEATIL</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
