<section id="wedo">
  <div class="container">
    <div class="row">
      x`<div class="head_title text-center wow fadeIn" data-wow-duration="1.5s">
        <h2>WHAT WE DO</h2>
        <div class="separetor"></div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry been the industry's standard dummy text </p>
      </div>
      <div class="wedo_content_area">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="single_wedo wow fadeIn" data-wow-duration="1s">
            <div class="single_left_icon">
              <a href=""><i class="fa fa-star"></i></a>
            </div>

            <div class="single_right_text">
              <h4>UI / UX DESIGN</h4>
              <div class="separetor2"></div>
              <p>Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="single_wedo wow fadeIn" data-wow-duration="1s">
            <div class="single_left_icon">
              <a href=""><i class="fa fa-star"></i></a>
            </div>

            <div class="single_right_text">
              <h4>UI / UX DESIGN</h4>
              <div class="separetor2"></div>
              <p>Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy</p>
            </div>
          </div>
        </div>					<div class="col-md-6 col-sm-6 col-xs-12">
        <div class="single_wedo wow fadeIn" data-wow-duration="1s">
          <div class="single_left_icon">
            <a href=""><i class="fa fa-star"></i></a>
          </div>

          <div class="single_right_text">
            <h4>UI / UX DESIGN</h4>
            <div class="separetor2"></div>
            <p>Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy</p>
          </div>
        </div>
      </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="single_wedo wow fadeIn" data-wow-duration="1s">
            <div class="single_left_icon">
              <a href=""><i class="fa fa-star"></i></a>
            </div>

            <div class="single_right_text">
              <h4>UI / UX DESIGN</h4>
              <div class="separetor2"></div>
              <p>Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy</p>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</section>
