<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="main_abouts_content">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="single_abouts wow fadeInLeft" data-wow-duration="1s">
            <h2>ABOUT GRAXPO</h2>
            <div class="separetor2"></div>
            <p>In gnissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>

            <a href="" class="btn pink-btn">LERAN MORE !</a>
          </div>
        </div>


        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="single_abouts wow fadeInRight" data-wow-duration="1s">
            <img src="assets/images/ab.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
